---
import MainLayout from '@/layouts/MainLayout.astro';
import BannerStory from '@/components/Home/BannerStory.astro';
import TopStories from '@/components/Home/TopStories.astro';
import NewsCard from '@/components/NewsCard.astro';
import { getCollection } from 'astro:content';

const articles = await getCollection("article")
---

<MainLayout>
	<div class="min-h-svh">
		<section class="flex flex-row w-100 h-[580px] px-6 gap-2 overflow-hidden">
			<div class="w-2/3 h-full">
				<BannerStory article={articles[0]}/>
			</div>
			<div class="w-1/3 h-full">
				<TopStories articles={articles?.slice(1,5)}/>
			</div>
		</section>
		<section class="mt-20 py-10 border-t-4 border-dotted flex flex-col">
			<h4 class="text-4xl font-bold" style="">Tech</h4>
			<div class="mt-10 flex flex-col gap-6">
				{
					articles?.slice(5,7)?.map((article: any) => 
						<NewsCard 
							id={article?.data?.id}
							author={article?.data?.author}
							date={article?.data?.pubDate}
							image={article?.data?.heroImage}
							heading={article?.data?.title}
							description={article?.data?.description}
						/>
					)
				}
			</div>
		</section>
		<section class="mt-20 py-10 border-t-4 border-dotted flex flex-col">
			<h4 class="text-4xl font-bold" style="">Finance</h4>
			<div class="mt-10 flex flex-col gap-6">
				{
					articles?.slice(7,9)?.map((article: any) => 
						<NewsCard 
							id={article?.data?.id}
							author={article?.data?.author}
							date={article?.data?.pubDate}
							image={article?.data?.heroImage}
							heading={article?.data?.title}
							description={article?.data?.description}
						/>
					)
				}
			</div>
		</section>
		<section class="mt-20 py-10 border-t-4 border-dotted flex flex-col">
			<h4 class="text-4xl font-bold" style="">Lifestyle</h4>
			<div class="mt-10 flex flex-col gap-6">
				{
					articles?.slice(9,10)?.map((article: any) => 
						<NewsCard 
							id={article?.data?.id}
							author={article?.data?.author}
							date={article?.data?.pubDate}
							image={article?.data?.heroImage}
							heading={article?.data?.title}
							description={article?.data?.description}
						/>
					)
				}
			</div>
		</section>
	</div>
</MainLayout>
