---
import NewsCard from "../NewsCard.astro";

const { articles } = Astro.props;
---

<div class="w-full h-full flex flex-col gap-6 px-6 lg:border-l-4 lg:border-dashed">
    <div>
        <h4 class="text-xl font-black">Top Stories</h4>
    </div>
    <div class="w-full h-full flex flex-col justify-start items-center gap-6">
        {
            articles?.map((article: any) => 
                <NewsCard 
                    id={article?.data?.id}
                    author={article?.data?.author}
                    date={article?.data?.pubDate}
                    image={article?.data?.heroImage}
                    heading={article?.data?.title}
                />
            )
        }
    </div>
</div>
