---
import FormattedDate from './FormattedDate.astro';
import { urlForImage } from "@/sanity/lib/urlForImage";
import type { SanityAsset } from "@sanity/image-url/lib/types/types";

interface Props {
    slug: number | string;
    author: string;
    publishedDate: Date | string;
    image: SanityAsset;
    title: string;
    description?: string;
    size?: "sm" | "lg";
}

const { slug, author, publishedDate, image, title,  description, size = "sm"} = Astro.props;
---

<a href={`/article/${slug}`}  transition:name={`article_${slug}_heroImage`} >
    <div class="min-w-[316px] w-full min-h-[100px] h-full flex flex-row gap-6">
        <div class="w-[40%] h-full rounded overflow-hidden box-content">
            <img src={urlForImage(image).format("webp").url()} class="w-full min-h-[100px] h-full" alt="News Card Image" />
        </div>
        <div class="w-[60%] flex flex-col justify-between">
            <h6 class=`${size === "lg" ? "text-2xl" :  "text-md"} line-clamp-3 font-bold`>
                {title}
            </h6>
            {
                description &&
                    <p class="text-sm line-clamp-6">{description}</p>
            }
            <div class="flex gap-4 font-display text-sm">
                <span>{author}</span>
                <span> - </span>
                <span><FormattedDate date={publishedDate}/></span>
            </div>
        </div>
    </div>
</a>
