---
import FormattedDate from '../components/FormattedDate.astro';

const { id, title, desc, author,  pubDate, updatedDate, heroImage } = Astro.props;
---

<article class="flex flex-col gap-10">
    <section>
        <div class="flex flex-col justify-center items-center gap-6">
            <div class="flex gap-4 font-display text-sm">
                <span>{author}</span>
                <span> - </span>
                <span><FormattedDate date={pubDate}/></span>
            </div>
            <div class="flex flex-col gap-4">
                <h1 class="text-4xl md:text-7xl font-black text-center">{title}</h1>
                <p class="text-xl">{desc}</p>
            </div>
        </div>
    </section>
    <section>
        <div class="w-full flex justify-center items-center">
            {heroImage && <img class="w-full h-[510px]" src={heroImage} alt="" transition:name={`article_${id}_heroImage`} />}
        </div>
    </section>
    <section>
        <slot />
    </section>
</article>
